/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ---------------------- Custom CSS begins here ---------------------- */

/* This controls the padding for the header image and the offset top navbar. The body
   needs to be padded as well or the body content will be overlapped by the navbar
*/

.navbar-fixed-top {
    top: 120px;
    position: static;
}

#banner {
    top: 0;
    height: 120px;
    width: 100%;
    background-color: white;
    z-index: 1;
}

#banner-logo {
    padding-top: 10px;
}

body {
    padding-top: 170px;
}

header {
    height: 170px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 1;
}

.nav-up {
    top: -170px; // same as header height. use variables in LESS/SASS
}

.navbar-inverse {
    background-color: #e0e8c0 !important;
    border-color: #e0e8c0 !important;
}

/* Footer */

#footer {
    position: relative;
    border-top: solid medium #e0e8c0;
    padding: 10px;
}

/* Carousel caption well */

.carousel-caption {
    height: 70px;
    width: 300px;
    margin-left: -100px;
    background-color: rgba(255, 255, 255, 0.9);
}

.carousel-text {
    color: black;
    font-size: 1.5em;
}

#last-carousel-well {
    padding-top: 5px;
}

/* Homepage blocks */

.homepage-block {
    margin: 8px -5px 8px -5px;
    padding: 10px;
    height: 140px;
}